html{
	width: 100%;
	background-color: #ffffff;
}

* {
	box-sizing: border-box;
}
p,h1,h2,h3,h4,h4,h6,div,span {
	font-family:PingFangSC-Regular,sans-serif,Microsoft JhengHei;	
}

body{
    background: linear-gradient(to right, #fff0f0, #ffffff, #fff0f0);
}

@media (min-width: 320px){
    /*welcome*/
    .wel-p{
        font-size: 25px;
        font-weight: bold;
        padding: 20px 0;
    }

    .username{
        font-size: 20px;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }

    .password{
        font-size: 20px;
        font-weight: bold;
        padding: 0;
        margin: 0;
        margin-top: 20px;
    }

    .input{
        width: 240px;
        font-size: 20px;
        outline: none;
        border: none;
        border-bottom: 3px solid #000000;
        padding: 0;
    }
    .forget{
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        color: #000000;
    }

    .col-7{
        margin-left: 30px;
    }

    input[type=submit] {
        width: 150px;
        height: 60px;
        font-size: 30px;
        color: #767676;
        background-color: #fef2f2;
        border: none;
        border-radius: 75px;
        margin-top: 50px;
    }
      
    input[type=submit]:hover {
        background-color: #eee1e1;
        color: #444444;
    }

    /*via*/
    .via .col-12{
        height: 120px;
    }
      
    .via-p{
        position: relative;
        font-size: 22px;
        margin-top: 60px;
        color: #000000;
        z-index: 99;
    }

    .blank{
        position: relative;
        width: 150px;
        height: 30px;
        background-color: #ffffff;
        top: -45px;
        margin: auto;
        z-index: 1;
    }

    .via-line{
        position: relative;
        width: 320px;
        border-bottom: 1px solid #767676;
        top: -77px;
    }

    .via img{
        height: 60px;
    }

    /*sign up*/
    .signup{
        margin-top: 40px;
    }

    .p{
        font-size: 20px;
        font-weight: bold;
        color: #000000;
        text-decoration: none;
        margin-bottom: 10px;
    }
}

@media (min-width: 768px){
    /*welcome*/
    .wel-p{
        font-size: 30px;
        font-weight: bold;
        padding: 20px 0;
    }

    .username{
        font-size: 22px;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }

    .password{
        font-size: 22px;
        font-weight: bold;
        padding: 0;
        margin: 0;
        margin-top: 20px;
    }

    .input{
        width: 380px;
        font-size: 20px;
        outline: none;
        border: none;
        border-bottom: 3px solid #000000;
        padding: 0;
    }

    .forget{
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        color: #000000;
    }

    .col-7{
        margin-left: 50px;
    }

    input[type=submit] {
        width: 200px;
        height: 50px;
        font-size: 25px;
        color: #767676;
        background-color: #fef2f2;
        border: none;
        border-radius: 75px;
        margin-top: 50px;
    }
      
    input[type=submit]:hover {
        background-color: #eee1e1;
        color: #444444;
    }

    /*via*/
    .via .col-12{
        height: 120px;
    }
      
    .via-p{
        position: relative;
        font-size: 22px;
        margin-top: 60px;
        color: #000000;
        z-index: 99;
    }

    .blank{
        position: relative;
        width: 150px;
        height: 30px;
        background-color: #ffffff;
        top: -45px;
        margin: auto;
        z-index: 1;
    }

    .via-line{
        position: relative;
        width: 540px;
        border-bottom: 1px solid #767676;
        top: -77px;
    }

    .via img{
        height: 60px;
    }

    /*sign up*/
    .signup{
        margin-top: 40px;
    }

    .p{
        font-size: 20px;
        font-weight: bold;
        color: #000000;
        text-decoration: none;
        margin-bottom: 10px;
    }
}

@media (min-width: 1280px){
    /*welcome*/
    .wel-p{
        font-size: 60px;
        font-weight: bold;
        padding: 20px 0;
    }

    .username{
        font-size: 40px;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }

    .password{
        font-size: 40px;
        font-weight: bold;
        padding: 0;
        margin: 0;
        margin-top: 20px;
    }

    .input{
        width: 540px;
        font-size: 30px;
        outline: none;
        border: none;
        border-bottom: 3px solid #000000;
        padding: 0;
    }

    .forget{
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
        color: #000000;
    }

    .col-7{
        margin: 0px;
    }

    input[type=submit] {
        width: 270px;
        height: 80px;
        font-size: 40px;
        color: #767676;
        background-color: #fef2f2;
        border: none;
        border-radius: 75px;
        margin-top: 35px;
    }
      
    input[type=submit]:hover {
        background-color: #eee1e1;
        color: #444444;
    }

    /*via*/
    .via .col-12{
        height: 130px;
    }
      
    .via-p{
        position: relative;
        font-size: 35px;
        margin-top: 40px;
        color: #000000;
        z-index: 99;
    }

    .blank{
        position: relative;
        width: 200px;
        height: 50px;
        background-color: #ffffff;
        top: -65px;
        margin: auto;
        z-index: 1;
    }

    .via-line{
        position: relative;
        width: 640px;
        border-bottom: 1px solid #767676;
        top: -105px;
    }

    .via img{
        height: 80px;
    }

    /*sign up*/
    .signup{
        margin-top: 50px;
    }

    .p{
        font-size: 30px;
        font-weight: bold;
        color: #000000;
        text-decoration: none;
        margin-bottom: 10px;
    }
}